body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.header {
  width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url("../image/Rectangle104.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-bottom: 3px solid #fff;
}
.navigation {
  display: flex;
}
.logo-image {
  width: 186px;
  padding-left: 205px;
  padding-bottom: 39px;
  padding-top: 39px;
}
.nav-list {
  display: flex;
  align-items: center;
  column-gap: 38px;
  padding-left: 168px;
}
.link-menu {
  display: flex;
  color: #fff;
  text-align: center;
}
.link-menu:hover {
  color: #94cfff;
}
.button-one {
  width: 141px;
  height: 41.694px;
  flex-shrink: 0;
  border-radius: 35px 0px;
  border: 2px solid #26c7ea;
  background: #0b0e66;
  margin-left:212px ;
  color: #26C6EA;
}
.section-two {
  width: 1440px;
  height: 740px;
  background: url("/image/img.avatar.png"), lightgray 50% / cover no-repeat;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.container {
  width: 1032px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.position {
  display: flex;
  justify-content: space-between;
}
.text-avatara {
  width: 298px;
  height: 96px;
  color: #fff;
  /* font-family: Inter; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 208px;
  padding-top: 180px;
}
.arrow {
  margin-left: 257px;
  border: 1px;
}
.text-avatara-ukr {
  width: 376px;
  height: 123px;
  color: #fff;
  /* font-family: Inter; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 204px;
}
.bottun-join {
  border: 3px solid #26c7ea;
  background: #0b0e66;
  border-radius: 45px 0px;
  margin-left: 204px;
  width: 260px;
  height: 80px;
}
.nav-social {
  width: 50px;
  height: 141px;
  display: flex;
  flex-direction: column;
  padding-top: 300px;
}
.img-social {
  width: 30px;
  height: 30px;
}
.section-three {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  padding-bottom: 10px;
}
.coment-one {
  color: #0A3853;
text-align: justify;
/* font-family: Inter; */
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
padding-top: 75px;
}
.coment-two {
  color: #0A3853;
text-align: justify;
/* font-family: Inter; */
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
}
.title-sali {
  color: #000;
text-align: justify;
/* font-family: Inter; */
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;

}
.img-bird {
  display: flex;
  width: 400px;
height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.section-trailer {
  width: 1440px;
  height: 740px;
  background: url("/image/Rectangle.10.png"), lightgray 50% / cover no-repeat;
  margin: auto;
  display: flex;
    justify-content: center;
}
.button-trailer {
  width: 260px;
height: 80px;
  border-radius: 45px 0px;
border: 3px solid #26C7EA;
background: #0B0E66;
text-align: center;
margin-top: 335px;
}
.section-four {
width: 1032px;
height: 350px;
margin: auto;
padding-top: 10px;
padding-bottom: 10px;
}

.section-language {
  width: 1440px;
height: 704px;
background-image: url("./image/Rectangle.20.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: auto;
}
.title-language {
  color: #141414;
text-align: justify;
 /* font-family: HeadlandOne;  */
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
} 
.section-five {
  width: 1438px;
  height: 350px;
  margin: auto;
padding-top: 10px;
}
.footer {
  width: 1440px;
  height: 220px;
  background-image: url("/image/footer-backgraund.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: auto;
display: flex;
justify-content: space-between;
}
.logo-footer {
  width: 183px;
height: 70px;
display: flex;
padding-top: 77px;

}

